
.producto{
    max-width: 1330px;
    margin: auto;
    margin-top: 50px;
   
    margin-bottom: 100px;    
}
.container-producto{
margin-top: 50px;

.place1,.place2{
    display: flex;
    padding-top: 20px;
    .Localization{
        display: flex;
        padding-left: 200px;
        width: 800px;
    }
    .btn-ir{
        
        button{
            
            border-radius: 15px;
            border:none;
            padding: 10px 35px;
            font-family: arial;
            font-size: 1rem;
            background-color: rgb(250, 138, 46);
            transition: .5s ease;
           
            &:hover{
               background-color: rgb(255, 82, 29);
               color: white;
               
            }
   }
    }
}
    .images{
        display: flex;
        
        img{
            padding: 0 50px;
        }
    }


    
       p{
        
        font-size: 1rem;
        line-height: 30px;
        font-family: verdana;
        font-size: 1.2rem;
        padding-left: 20px;

       }

}